@model Pizzaria2._0.ViewModels.LoginViewModel

@{
    Layout = "_Layout"; 
    ViewData["Title"] = "Login";
}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

<form class="row g-3" asp-controller="Auth" asp-action="SignIn" method="post">
    <div class="col-md-6">
        <label for="inputEmail" class="form-label">Seu Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Seuemail@gmail.com" asp-for="Email" required>
        <label for="inputPassword" class="form-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword" asp-for="Senha" required>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary col-1">Entrar</button>
    </div>
</form>
