@{
    ViewData["Title"] = "KKK";
    Layout = "_Admindashboard";
}



<div class="text-center">
    <h1 class="display-4" >QQQQ</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">builddsadsaP.NET Core</a>.</p>
</div>
